/* Main Styling */

#root {
  position: relative;
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid black;
  --soft-peach: rgb(255, 244, 228);
}

img {
  width: 100%;
  height: auto;
}

.help-icon {
  width: 3em;
  float: right;
  cursor: help;
}

.help-icon:hover {
  filter: invert(0.4);
}

.scores {
  clear: both;
}

/* Loading Icon */

.loading-icon {
  width: 3.75em;
  animation: 1.5s spin ease infinite;
}

.ring {
  fill: none;
  stroke: hsla(341, 75%, 14%, 0.3);
  stroke-width: 2;
}

.ball {
  fill: #000000;
  stroke: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


/* Card Grid */

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

/* Cards */

.card {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
  transition: all 0.2s ease-in-out;
  transform-origin: center;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  background-color: rgb(255, 244, 228);
}


/* Error */

.error-message {
  display: flex;
  flex-direction: column;
}

.error-list {
  text-align: left;
  align-self: center;
}

.skill-error {
  font-size: 0.5rem;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(55,55,55,.7);
}

.modal-menu {
  max-height: 90%;
  max-width: 90%;
  min-width: 50vw;
  padding: 2em;
  border-radius: .5rem;
  background: var(--soft-peach);
}

.modal-heading {
  font-size: 2rem;
}